/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/target
/.settings
/.project
/.classpath
/.DS_Store
/1
/derby.log
/src/test/resources/pool_config
/src/test/java/com/alibaba/druid/local_test
# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml
/bin
.svn/